@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{--azulescuro: #054a91ff;
    --azul: #3e7cb1ff;
    --wisteria-blue: #81a4cdff;
    --alice-blue: #dbe4eeff;}
    --titulo:"Playfair Display", serif;
    --texto:"Roboto", sans-serif;